body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-size: large;
}
i {
    font-size: 100%;
    color: grey;
}

.title {
    padding-top: 5%;
    padding-bottom: 2%;
}

h1,
h2,
h3,
p {
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

#repo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#icon {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    &:hover {
        animation: rotate 5s linear infinite;
    }
}

#main {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.top-container {
    display: flex;
    height: max-content;
}

.top-item {
    position: relative;
    font-size: 100px;
    padding: 10px;
    #name {
        font-size: 70%;
    }
    .degree {
        font-size: 20%;
        color: grey;
    }
    a {
        color: grey;
    }
    p {
        font-size: 30%;
    }
}

.repo {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 30px;
    a {
        color: unset;
    }
    &:hover {
        box-shadow: 0 0 10px grey;
    }
}

.gallery {
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
    h2 {
        font-size: 48px;
        color: #ff8800;
    }
}

.gallery-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery-item {
    display: flex;
    gap: 2%;
    align-items: end;
    img {
        width: 49%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    &.gallery-item__3 {
        justify-content: center;
        margin-top: 24px;
    }
    .img-1 {
        width: 65%;
        aspect-ratio: 16/9;
        border-radius: 0 16px 16px 0;
    }
    .img-2 {
        width: 20%;
        aspect-ratio: 3/4;
        border-radius: 16px;
    }
    .img-3 {
        width: 45%;
        aspect-ratio: 15/9;
        border-radius: 0 16px 16px 0;
    }
    .img-4 {
        width: 60%;
        aspect-ratio: 4/3;
        border-radius: 16px 0 0 16px;
    }
}

footer {
    width: 100vw;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width: 950px) {
    .top-container {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }
}
